body {
    font-family: Arial, sans-serif;

/*  
    line-height: 1.6;
    margin: 0;
    padding: 0;
*/

    font-size: 20px;
    line-height: 150%;

    background-color: #ccddff; /* Light blue background color */
}

.container {
    max-width: 1000px;
    margin: 20px auto; /* Adding some margin to the top and bottom */
    padding: 20px;
    background-color: #ffffff; /* White background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Optional: add rounded corners */
}

h1 {
    text-align: center;
}

p {
    margin: 1em 0;
    clear: left;
}

hr {
    height: 3px;
    background: #888888;
}

.center-img {
    margin: 0 0em 0em 0em;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}




